<article class="challenge-view">

  <div class="row align-items-center">
    <div class="col-md-6">
      {{name}}
    </div>
    <div class="col-md-6">
      Ends: {{end_date}}
    </div>
  </div>
  <hr>
  <div class="row align-items center">
    <div class="col-md-12">
      {{description}}
    </div>
  </div>
</article>
{{yield}}
