
/* HTML Element CSS */

/* Class CSS */

body{
  background-color: #F8F4EE;
  background-image: url("foggy-birds.png");
  color: #F1F5E9;
}

.main{
  color: #0e0b16;
  margin: 125px 25px 25px 25px;
}

.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header + .core{
  padding-top: 25px;
  margin-top: 100px;
}

.header + .core-auth{
  display: inline-block;
  margin-left: 300px:
  padding-top: 25px;
  margin-left: 25%;
  width:50%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
}

.nav-suscit{
  background-color: #0392cf;
  opacity: 0.95;
}

.nav-suscit-auth{
  background-color: #7BC043;
  opacity: 0.95;
}

.nav-suscit-bottom{
  background-color: #0392cf;
  opacity: 1;
}

.img-header{
  max-height: 100%;
  max-width: 100%;
  height: 30px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.title{
  text-align: center;
}

.login-container{
  text-align: center;
}


.new-challenge-container{
  text-align: center;
  margin:0 0 0 0;
  background-color: rgba(205,205,205,.5);
  padding-top: 20px;
  padding-left: 0px;
  border: 1px solid black;
  border-radius: 2px;
}

.new-challenge-form-section{
  padding-left: 30%;
  align:left;
  width: 70%;
}

.form-element{
  padding-bottom: 25px;
}

.regform{
  text-align:center;
}

.navAuth{
  float:right;
  margin-left: 5px;
}

.dash-outline{
  border: 2px solid white;
  border-radius: 2px;
  background-color: #888;
  opacity: 0.9;
  margin-bottom: 28px;
}

.challenge-view{
  border: 2px solid #333;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom:10px;
  background-color:#888;
  opacity: 0.9;
  border-radius: 5px;
}

.container{
  padding-bottom:20px;
}

.new-challenge-form{
  display:block;
  width:100%;
  /* padding-left: 20%; */
  text-align:center
}
/* ID CSS */
