
/* HTML Element CSS */

/* Class CSS */

body{
  background-color: #0e0b16;
  background-image: url("foggy-birds.png");
  color: #E7DFDD;
}

.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header + .core{
  padding-top: 0px;
}

.core-auth{
  padding-top:120px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
}



.nav-suscit{
  background-color: #4717F6;
  opacity: 0.95;
}

.nav-suscit-auth{
  background-color: #3616E5;
  opacity: 0.95;
}

.nav-suscit-bottom{
  background-color: #4717F6;
  opacity: 1;
}

.img-header{
  max-height: 100%;
  max-width: 100%;
  height: 30px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.title{
  text-align: center;
}

.login-container{
  text-align: center;
}


.new-challenge-container{
  text-align: center;
}

.form-element{
  padding-bottom: 5px;
}

.regform{
  text-align:center;
}

.navAuth{
  float:right;
  margin-left: 5px;
}

.dash-outline{
  border: 2px solid white;
  border-radius: 2px;
  background-color: #888;
  opacity: 0.9;
  margin-bottom: 28px;
}

.core{
  margin-top: 102px;
}

.challenge-view{
  border: 2px solid #333;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom:10px;
  background-color:#888;
  opacity: 0.9;
  border-radius: 5px;
}

.container{
  padding-bottom:20px;
}
/* ID CSS */
