<div class="view-challenge-component">
{{#each model as |challenge|}}
  {{#challenge-view 
    name=challenge.name 
    description=challenge.description 
    end_date=challenge.end_date
  }}
  {{/challenge-view}}
{{/each}}
</div>

{{outlet}}
