<header>
  <nav class="navbar navbar-default nav-suscit">
    <div class="img-header">
      <a href="/">
        <img
          src="https://i.pinimg.com/originals/9c/d7/91/9cd791927b1bab330e04de94b4eb3855.jpg"
          alt=""
        >
      </a>
    </div>
    <span>The Sustainable Citizen Project</span>
    <span class="pull-right">
      <a href="/login" class="btn btn-success">Login</a>
      <a href="/signup" class="btn btn-success">Signup</a>
    </span>
  </nav>
</header>


{{outlet}}
