<div class="header">
  <header>
    <nav class="navbar navbar-default nav-suscit">
      <div class="col-md-4">
        {{#if session.isAuthenticated}}
          {{#link-to "dashboard" }}
            <img
              class="img-header"
              src="/assets/images/imageedit_14_4203673988.gif"
              alt=""
            >
          {{/link-to}}
        {{else}}
          {{#link-to "home" }}
            <img
              class="img-header"
              src="/assets/images/imageedit_14_4203673988.gif"
              alt=""
            >
          {{/link-to}}
        {{/if}}
      </div>
      <div class="col-md-4 title">
        <span>The Sustainable Citizen Project</span>
      </div>
      <div class="col-md-4">
        <span class="pull-right">
          {{#if session.isAuthenticated}}
            <a {{action "invalidateSession"}} class="btn btn-success">Logout</a>
          {{else}}
            <a href="login" class = "btn btn-success navAuth">Login</a>
            <a href="signup" class = "btn btn-success navAuth">Signup</a>
          {{/if}}
        </span>
      </div>

    </nav>
  </header>
</div>

<div class="main">
  {{outlet}}
</div>

<div class="footer">
  <footer>
    <nav class="navbar navbar-default nav-suscit">
      <span>Hire me.</span>
      <span class="pull-right">I would like one job please.</span>
    </nav>
  </footer>
</div>
