<div class="container login-container">
  <form {{action "authenticate" on="submit"}}>
    <div class="form-element">
      <!-- <label for="identification">Username:</label> -->
      {{input id="identification" value=identification placeholder="Username"}}
    </div>
    <div class="form-element">
      <!-- <label for="password">Password:..</label> -->
      {{input type="password" id="password" value=password placeholder="Password"}}
    </div>
    <div class="form-element">
      <button type="submit">Login</button>
      {{#if errorMessage}}
        <p>Authentication Failed.</p>
      {{/if}}
    </div>
  </form>
</div>

{{outlet}}
