<div class="container">

</div>
<div class="row align-items-center">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="container regform">
      <p>Signup currently closed</p>
    </div>
  </div>

</div>

{{outlet}}
